<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqQfKtbsr7FwKUC_DltTE2hTL9VC7cOVk</string>
	<key>GCM_SENDER_ID</key>
	<string>523122753842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sameerNEUios.App12</string>
	<key>PROJECT_ID</key>
	<string>app12-24c85</string>
	<key>STORAGE_BUCKET</key>
	<string>app12-24c85.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523122753842:ios:1c316d389b353fb3e0572b</string>
</dict>
</plist>